In [7]:
session={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'jun'}}

In [8]:
         d=pd.DataFrame(session,columns=["rainy","dry"])

In [4]:
import pandas as pd

In [9]:
d

  rainy  dry
1   nov  mar
2   dec  apr
3   jan  may
4   feb  jun

In [14]:
import numpy as np

In [18]:
a=pd.DataFrame(np.random.randint(0,300,size=(20,4)),columns=list('abcd'))

In [19]:
print(a)

      a    b    c    d
0   236  149  278  179
1   270   32  185   47
2    51  111  193   60
3    95   80    0  245
4   286  277   11  144
5   119   43   33  167
6    27   94   93  239
7   183  256  191  227
8    48   36  236  164
9   265  148   34  196
10   37  270  283    7
11  213  279   83  115
12  125  232  265  226
13  269  188  205   81
14   43  209   45   80
15  141  178   49   56
16  263  247   85  147
17  196  148   75  203
18  224  136  279  110
19  153  221  287   90

In [23]:
a.to_csv('D:/buvi.csv')

In [24]:
a.drop("c",axis=1)

      a    b    d
0   236  149  179
1   270   32   47
2    51  111   60
3    95   80  245
4   286  277  144
5   119   43  167
6    27   94  239
7   183  256  227
8    48   36  164
9   265  148  196
10   37  270    7
11  213  279  115
12  125  232  226
13  269  188   81
14   43  209   80
15  141  178   56
16  263  247  147
17  196  148  203
18  224  136  110
19  153  221   90